// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: sans-serif;
$font-family-serif: serif;
$font-family-mono: monospace;
$font-size-base: 18px;
$line-height-base: 1.6;

// Colors
$white: #fff;
$black: #000;
$blue: #65c3ff;
$yellow: #ffee65;
$red: #e3342f;
$green: #38c172;

$gray_light: mix($blue, #e0e5eb, 5%);
$gray: mix($blue, #767778, 5%);
$gray_dark: mix($blue, #2d3033, 5%);

$primary: $yellow;
$accent: $blue;
